h2 {
  display: flex;
  gap: 0.7rem;
  width: 100%;
}

.highlight {
  font-style: normal;
  color: var(--color-primary);
}

form.delete {
  display: inline;
  margin-left: auto;
}

button.delete {
  font-size: 1rem;
  padding: 0.2rem 2rem;
  background-color: var(--color-danger);
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.chip {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 10rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.chip > .chip-container {
  display: flex;
  gap: 0.66rem;
  align-items: center;
}

.chip button {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 0.1rem;
  font-size: smaller;
  border-width: 0px;
  border-radius: 100%;
  background-color: #ffffff33;
  color: var(--color-primary);
  margin-right: -0.5rem;
}

.chip button:hover {
  color: var(--color-primary-contrast);
  background-color: var(--color-primary);
}

.create > fieldset {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
}

.create button {
  font-size: 1rem;
  padding: 0.2rem 2rem;
}

.create input {
  font-size: 1rem;
}

.start {
  margin-left: auto;
  font-size: 1rem;
  padding: 0.2rem 2rem;
  background-color: var(--color-success);
}
